# REQUIRED
# Your bot token goes here.
# token = 123458239472808950342

# REQUIRED
# This is the character or phrase that commands to the bot must start with.
# Commands sent to the story will start with  one of these. Commands sent to the
# bot itself will start with two of these.
invoker = >

# REQUIRED
# This is the program that the story will start with. For example: if I was
# running glulxe-cheapglk with the -h parameter set to 80, I would set this:
#
# interpreter = glulxe-cheapglk -h 80
#
# which would then run my game as:
#
# xyzzy@westofhouse$ glulxe-cheapglk -h 80 ./stories/hhgg.z5

interpreter = dfrotz -h 80 -w 5000

# OPTIONAL
# Provide a channel ID here to set a "home channel", where Xyzzy will report
# information. like server joins.
# home_channel = 12345676789018

# Any IDs found in this comma-seperated list will have access to debug and
# shutdown commands on the bot. This is a huge responsibility and is not to be
# taken lightly: a sneaky user can use a quick and simple debug command to get
# your bot token.
# The default IDs are for Roadcrosser#3657 and Orangestar#1432
owner_ids = 88401933936640000, 116138050710536192
