/* frames for arrow animation */

@-webkit-keyframes slowbob{
  0% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@keyframes slowbob{
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* main rules */

* {
  margin:0;
  padding:0;
}

html, body { min-height: 100%; }

body {
  background-color: #424242;
  margin-left:auto;
  margin-right:auto;
  color: #FFFFFF;

  font-family: 'Source Code Pro';
}

/* css3 shape */
#arrow {
  /* hang at bottom of div */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 50px;

  font-size: 100px;
  text-align: center;

  /* defining the shape
	width: 0;
  margin-left: auto;
  margin-right: auto;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid #FFFFFF;
  padding: 0;
  */

  /* prettiness */
  color: white;
  opacity: 0.4;
  animation: slowbob 2s infinite;
}

/* text content styles */

.command {
  font-family: 'VT323';
  font-size: 150%;
  text-align: center;
  padding-top: 100px;
  padding: 0;
}

.response {
  padding: 50px 0;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.status {
  font-weight: bold;
}

/* image rules for bgs */

#pc {
  background-image: url('oldcomputer.png');
  background-size: cover;
  background-position: 20% 80%;
}

#sharpc {
  height: 150vh;
}

#sharpc::before {
  content: '';

  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;

  background-image: linear-gradient(rgba(66,66,66,0.5),rgba(66,66,66,0.5)), url('sharpcalc.jpg');
  background-size: cover;
  background-position: 50% 80%;

  -webkit-filter: blur(2px);
  filter: blur(2px);

  /* opacity: 0.5; */
}

.colored {
  text-align: justify;
  padding: 100px 20px;
  background-color: #353535;
}

p {
  margin: 1em 0;
}

#quotes {
  padding: 50px 20px 50px 20px;
  text-align: center;
  line-height: 1.8;
  margin-left: auto;
  margin-right: auto;
  max-width: 950px;
  text-shadow: 0 0 5px #141414;
  font-size: 18px;
}

#quotes p {
  margin: 2em 0;
}

span.green{
  color: #24f311;
  font-weight: bold;
}

#buttons {
  text-align: center;
}

a {
  /* override <a> defaults */
  text-decoration: none;
  color: #FFFFFF;
  /* This will have to change (".quotes a, a.button") if we ever add more links but for now, this works. */
}

a.button {
  /* positioning */
  display: inline-block;
  margin: 5px;
  padding: 15px 32px;
  text-align: center;
  min-width: 100px;

  /* pretty it up */
  background-color: #424242;
  font-family: 'VT323';
  font-size: 125%;
  box-shadow: 0 0 1px rgba(0,0,0,0);

  /* webkit hack to make transforms look good */
  /* because will-change isn't supported everywhere */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;

  /* relative positioning to hook ::before to element */
  position: relative;
}

.button.disabled {
  color: #AAAAAA;
}

.button::before {
  content: ">";
  position: absolute;
  left: 1em;
  padding: 0 1px;

  /* set up for transition */
  -webkit-transform: translateX(0);
  transform: translateX(0);

  /* dear roadcrosser: why didn't you use the shorthand?!?!? */
  -webkit-transition: 0.1s transform ease-out;
  transition: 0.1s transform ease-out;
}

.button:not(.disabled):hover::before,
.button:not(.disabled):active::before {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}


#bottom {
  text-align: center;
  justify-content:center;
  margin-top: 80%;
  margin-top: 80vh;
}

/*                                               */
/* Parallax Code: From http://keithclark.co.uk/. */
/*                                               */

.parallax {
  height: 500px; /* fallback for older browsers */
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
  -webkit-perspective-origin-x: 98%;
  perspective-origin-x: 98%;
}

.parallax__group {
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform-origin-x: 100%;
  transform-origin-x: 100%;
}

.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  position: static; /* allows layer to grow with content */
}

.parallax__layer--back {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);

  width: 150vw;
}

body.debug .parallax__group {
    -webkit-transform: translate3d(800px, 0, -800px) rotateY(30deg);
    transform: translate3d(700px, 0, -800px) rotateY(30deg);
}

body.debug .parallax__layer {
    box-shadow: 0 0 0 2px #000;
    opacity: 0.9;
}
