*{
  margin:0;
  padding:0;
}

body {
  background-color: #000000;
  color: #23ef18;
  text-shadow: 0 0 5px #42e833,0 0 5px #42e833;
  font-family: 'Source Code Pro';
}

#title {
  box-shadow: 0 0 20px #42e833;
  padding: 20px;
  margin: 0px 200px 50px 200px;
  border: double;
  border-color: #16500d;
  text-align: center;
}

#main {
  text-align: justify;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  line-height: 150%;
  padding-top: 50px;
  padding-bottom: 10px;
}

#bbb {
  display:flex;justify-content:center;align-items:flex-end;
  text-align: right;
}
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-10px) scale(12);
  opacity:0.5;
}
